version: '3.8'

services:

  redis:
    image: redis:7.2
    container_name: ticket-master-redis
    restart: always
    ports:
      - "6379:6379"

  mysql:
    image: mysql:8.0
    container_name: ticket-master-mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: ticket_master
      MYSQL_USER: app_user
      MYSQL_PASSWORD: app_password
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

volumes:
  mysql_data: